/node_modules
/vendor
/.pnp
.pnp.js
.env
.env.backup
.env.production
chatter.log
xdebug.log
ServerLog.log

/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

.phpunit.result.cache
.composer.lock
.env.local
.env.development
.env.test
.env.production.local
.env.local.php
